@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BramhamSerif';
  src: url('fonts/BramhamSerif.otf') format('opentype');
  font-weight: normal;
  font-style: normal
}

body {
  font-family: Arial, Helvetica, sans-serif, 'BramhamSerif';
}


@layer base {
  :root {
    --background: #343541;
    --background-darker: #2A2B33;
    --background-darkest: #25262A;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: #17B978;
    --primary-dark: #005B3A;
    --primary-light: #3CFBB5;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --primary-font: 'BramhamSerif'
  }
  .dark {
    --background: #343541;
    --background-darker: #2A2B33;
    --background-darkest: #25262A;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #17B978;
    --primary-dark: #005B3A;
    --primary-light: #3CFBB5;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  p, input, .highlight {
    @apply font-sans
  }
  .highlight {
    @apply text-primary font-[500]
  }
  .button, .subtitle {
    @apply font-roboto
  }
  .title-primary {
    @apply text-4xl font-bold text-primary-light font-sora;
  }
  .title-secondary {
    @apply text-2xl font-semibold text-gray-400;
  }
  .container-center {
    @apply flex items-center justify-center w-full h-full;
  }
  .absolute-center {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%]  translate-y-[-50%]
  }
  .rdp [aria-hidden="true"] {
    @apply hidden;
  }
  .rdp-vhidden {
    @apply hidden;
  }
  .masked-element {
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    mask-position: center;
    mask-size: 150px 150px;
    mask-repeat: no-repeat;
    mask-composite: subtract;
  
    /* Safari compatibility */
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-position: center;
    -webkit-mask-size: 150px 150px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: subtract;
  }
  
  select::-webkit-scrollbar {
    display: none;
  }
}
